h1{
    background-color: #14196F;
    color: #E6E6F6;
}
h2{
    background-color: #ADAED4;
    color: #131974;
}
body{
    color: #314BA4;
    font-family: 'Roboto', sans-serif;
}
footer{
    color: #595E9D;
    font-family: 'Times New Roman', Times, serif;
}